[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target systemd-logind.service multi-user.target
RequiresMountsFor=/run

[Service]
ExecStart=sh -c '/usr/bin/mfab-status-led 2>&1 | tee /home/root/mfab-status-led.txt'
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
