[Unit]
Description=Microfabricator Script
After=dropbear.service systemd-logind.service multi-user.target graphical.target getty.target


[Service]
Environment="QT_QPA_EGLFS_HIDECURSOR=1"
ExecStart=sh -c '/usr/bin/MicrofabricatorHMI -platform eglfs 2>&1 | tee /home/root/microfablog.txt'

[Install]
WantedBy=multi-user.target
