# Local configuration for meta-rpi images
# Yocto Project 4.0 Poky distribution [kirkstone] branch
# This is a systemd system

LICENSE_FLAGS_ACCEPTED = "commercial"

DISTRO_FEATURES = " rauc security systemd usbhost ${DISTRO_FEATURES_LIBC}"

DISTRO_FEATURES_BACKFILL_CONSIDERED += "pulseaudio sysvinit"

DISTRO_FEATURES:remove = "ptest"

DISTRO_FEATURES:remove = " x11 wayland"

DISTRO_FEATURES:remove = " vulkan directfb"

DISTRO_FEATURES:append = " opengl"

INIT_MANAGER = "systemd"

MACHINE_FEATURES:remove = "apm vfat"

IMAGE_FSTYPES="tar.bz2 ext4 wic.bz2 wic.bmap"
IMAGE_INSTALL:append = " rauc"

SDIMG_ROOTFS_TYPE="ext4"

IMAGE_INSTALL:append = " openssh-sftp-server sudo python3 python3-pip rpi-gpio raspi-gpio"
IMAGE_FEATURES:append = " ssh-server-openssh"

# Choose the board you are building for
MACHINE = "raspberrypi4"

KERNEL_IMAGETYPE = "uImage"

# uncomment for kernels < 5.6
#WIREGUARD_COMPAT = "1"

#DISABLE_VC4GRAPHICS = "1"
DISABLE_OVERSCAN = "1"

ENABLE_UART = "1"
ENABLE_RPI3_SERIAL_CONSOLE = "1"
SERIAL_CONSOLES = "115200;ttyAMA0"

# the default is 5.15
#PREFERRED_VERSION_linux-raspberrypi = "5.15.%"

#DL_DIR = "/oe/dl/kirkstone"
#SSTATE_DIR = "/oe/rpi/sstate-cache"
#TMPDIR = "/oe/rpi/tmp"

DISTRO = "poky"
PACKAGE_CLASSES = "package_ipk"

# i686 or x86_64
SDKMACHINE = "x86_64"

# for no root passwd uncomment the following and comment the two extra user lines
#IMAGE_FEATURES:remove = "splash"
IMAGE_INSTALL:append = " psplash"
IMAGE_INSTALL:append = " omxplayer"

USER:CLASSES = "image-mklibs image-prelink"
PATCHRESOLVE = "noop"
RM_OLD_IMAGE = "1"
INHERIT += "rm_work"
CONF_VERSION = "2"

PACKAGECONFIG:append_pn:qtmultimedia = " gstreamer"
GPU_MEM = "512"

//Added rust example
DISTRO_FEATURES += "mfab-status-led"

//RAUC updater
RPI_USE_U_BOOT = "1"
PREFERRED_PROVIDER_virtual/bootloader = "u-boot"
WKS_FILE = "sdimage-dual-raspberrypi.wks"

IMAGE_INSTALL:append = " kernel-image kernel-modules"
IMAGE_INSTALL:append = " rauc-hawkbit-service"
IMAGE_INSTALL:append = " rauc-hawkbit-updater"
IMAGE_INSTALL:append = " rauc-hawkbit"



#IMAGE_INSTALL:append = " nano"

//Enable WiFi support
DISTRO_FEATURES:append = " rauc wifi"
IMAGE_INSTALL:append = " iw wpa-supplicant net-tools coreutils i2c-tools bridge-utils hostapd iptables linux-firmware-rpidistro-bcm43455"


